<style>

#Buono {
    color: blue;
}
.cattivo {
    color: red;
}
.segreto {
    background-color: red;
}
.segreto {
    color: blue;
}
#siamo-uguali,
#sei-sicuro {
    color: purple;
}
.Roma {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    font-weight: 999;
    text-align: right;
}
.dummoid {
    height: 200px;
    width: 300px;
}
.fancuuuuu {
flex: auto;
width: 400px;
color: red;
}
</style>


